.content {
    width: calc(100% - 80px);
    max-width: 1200px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contentItem {
    width: calc(50% - 50px);
}

.list {
    width: 100%;
    padding-top: 24px;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
}