.annotation{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}