.header {
    background-color: #000;
    width: calc(100% - 80px);
    padding: 20px 40px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.cartLink{
    width: 24px;
    height: 24px;
    background-image: url(../../cart.svg);
    background-size: cover;
}

.logoLink {
    text-decoration: none;
}